// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #d1e2ff;
$gray: #707070;

.items_container{
  text-align: center;
  display: inline-block;
}

.item_container{
  display: inline-block;
  margin: 15px 10px;
  border: 2px solid $blue;
  text-align: center;

  &:hover{
    background-color: #edf4ff;
    transition: 200ms;
  }

  img{
    height: 200px;
  }

  .edit_options{
    text-align: right;
    padding: 0.5em;
  }

  a{
    text-decoration: none;
    &:visited{
      color: inherit;
    }
  }

  .no_img{
    height: 110px;
    border: 2px solid black;
    width: 150px;
    margin: auto;
    padding-top: 85px;
  }

  .edit_options{
    a{
      color: #477bd1;
    }
  }
}

.subtitle{
  color: $gray;
}

.item-contents-container{
  min-width: 210px;
  max-width: 330px;
  min-height: 360px;
  padding: 15px 15px 0;
  float: left;

  .subtitle{
    font-size: 70%;
  }

}

.show_item_container{
  max-width: 500px;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;

  img{
    max-width: 500px;
  }

  .notes{
    padding: 10px 0;
  }

  .item-edit-settings{
    padding: 15px 0;
  }
}