// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #d1e2ff;
$gray: #707070;

.items_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2{
  font-size: 1.2em;
  font-family: sans-serif;
}

a{
  color: #000;
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}

.item_container{
  margin: 10px 5px;
  padding: 10px;
  border: 2px solid $blue;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;

  &:hover{
    background-color: #edf4ff;
    transition: 200ms;
  }

  img{
    max-height: 200px;
    max-width: 300px;
  }

  .edit_options{
    text-align: right;
    padding-top: 1em;
  }

  .no_img{
    height: 110px;
    border: 2px solid black;
    width: 150px;
    margin: auto;
    padding-top: 85px;
  }

  .edit_options{
    a{
      color: #477bd1;
    }
  }
}

.subtitle{
  color: $gray;
}

.item-contents-container{
  max-width: 330px;

  .subtitle{
    font-size: 70%;
  }

}

.show_item_container{
  max-width: 500px;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;

  img{
    max-width: 500px;
  }

  .notes{
    padding: 10px 0;
  }

  .item-edit-settings{
    padding: 15px 0;
  }

  p{
    margin: 5px 0;
  }

  a{
    color: #477bd1;
  }
}

.form_container{
  text-align: center;
}

.edit_item, .new_item{
  display: inline-block;
  text-align: left;
}

#item_notes{
  min-width: 300px;
  min-height: 80px;
}

//temporary?
#brand_select{
  float: left;
  margin-right: 5px;
}