// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #d1e2ff;
$gray: #707070;

.items_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2{
  font-size: 1.2em;
  font-family: sans-serif;
}

a{
  color: #000;
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}

.item_container{
  margin: 10px 5px;
  padding: 10px;
  border: 2px solid $blue;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;

  &:hover{
    background-color: #edf4ff;
    transition: 200ms;
  }

  img{
    max-height: 200px;
    max-width: 300px;
  }

  .edit_options{
    text-align: right;
    padding-top: 1em;
  }

  .no_img{
    height: 110px;
    border: 2px solid black;
    width: 150px;
    margin: auto;
    padding-top: 85px;
  }

  .edit_options{
    a{
      color: #477bd1;
    }
  }
}

.subtitle{
  color: $gray;
}

.item-contents-container{
  max-width: 330px;

  .subtitle{
    font-size: 70%;
  }

}

.show_item_container{
  max-width: 500px;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;

  img{
    max-width: 500px;
  }

  .notes{
    padding: 10px 0;
  }

  .item-edit-settings{
    padding: 15px 0;
  }

  p{
    margin: 5px 0;
  }

  a{
    color: #477bd1;
  }
}

.form_container{
  text-align: center;
}

.edit_item, .new_item{
  display: inline-block;
  text-align: left;
}

#item_notes{
  min-width: 300px;
  min-height: 80px;
}

.color_list{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.color_list > div{
    padding-right: 15px;
}

.col_box_container{
  margin: 5px;
  display: flex;
  justify-content: center;
}

.col_title{
  margin-right: 10px;
  margin-top: 5px;
}

.col_boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

span[class^="col_box"]{
  padding: 3px 5px;
  margin: 2px;
  border: 1px solid black;
}

.col_box_white{
  background-color: white;
}

.col_box_black{
  background-color: black;
  color: white;
}

.col_box_ivory{
  background-color: #fef5de;
  border-color: #fef5de;
}

.col_box_red{
  background-color: #a21a24;
  border-color: #a21a24;
  color: white;
}

.col_box_pink{
  background-color: #ffb1e6;
  border-color: #ffb1e6;
}

.col_box_orange{
  background-color: #fa7615;
  border-color: #fa7615;
}

.col_box_yellow{
  background-color: #fff38e;
  border-color: #fff38e;
}

.col_box_green{
  background-color: #0f6835;
  border-color: #0f6835;
  color: white;
}

.col_box_blue{
  background-color: #6699ff;
  border-color: #6699ff;
}

.col_box_purple{
  background-color: #d46bee;
  border-color: #d46bee;
}

.col_box_grey{
  background-color: #d8ccdb;
  border-color: #d8ccdb;
}

.col_box_brown{
  background-color: #633608;
  border-color: #633608;
  color: white;
}

.col_box_gold{
  background-color: #e3c77c;
  background-image: linear-gradient(to bottom right, #caa84b, #faedca);
  border-color: #e3c77c;
}

.col_box_silver{
  background-color: #bbbbbb;
  background-image: linear-gradient(to bottom right, #bbbbbb, #fdfdfd);
  border-color: #bbbbbb;
}

.color_search_btn{
  margin-left: 20px;
}

//temporary?
.brand-select{
  float: left;
  margin-right: 5px;
}