<head>
	<title>Closet Maker</title>
</head>
<body>
	<h1>Closet Maker</h1>
	<h2>Featured Wardrobes</h2>
	<div class="wardrobes_container_container">
		<div class="wardrobes_container">
			<% @users = User.all %>
			<% @users.take(4).each do |user| %>
			<div class="user_wardrobe">
				<%= link_to user.username.titleize + '\'s Wardrobe', user_items_path(user) %>
				<div class="wardrobe-container">
					<% disp_items = user.items.order(created_at: :desc).take(15) %>
					<% disp_items.each do |item| %>
						<span class="wardrobe-item">
							<% if item.img? %>
								<%= image_tag item.img.url %>
							<% else %>
								<span class="no_img_item">
									<%= item.name %>
								</span>
							<% end %>
						</span>
					<% end %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</body>
